# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

load_testing/results/**
!load_testing/results/
!load_testing/results/with_balancer/
!load_testing/results/with_balancer/test_*154915*
